[2016-11-03 22:54] jchodera commented on #179
Could address #42 (versioning) as well!

[2016-11-03 23:07] davidlmobley commented on #42
@jchodera - I did update a while back so that if a version is specified as an attribute of the SMIRFF tag, it's stored. But, currently it's just stored as a float, and I'm not exactly sure what to do with it (I have zero experience setting up code to handle versioning). What would be best?

[2016-11-03 23:07] davidlmobley commented on #179
On versioning - I commented on #42.

[2016-11-03 23:08] davidlmobley commented on #42
i.e. https://github.com/open-forcefield-group/smarty/blob/master/smarty/forcefield.py#L578

[2016-11-03 23:10] jchodera commented on #42
Great! That's fine for now.

We should call our spec something like `0.1.0` for now and increment it as we make updates.

I have come around to prefer `X.Y.Z`, where we have
- `X`: update for major, API-breaking changes
- `Y`: update every time we add a new feature that doesn't break the API
- `Z`: update every time we fix a minor bug or issue

[2016-11-03 23:12] davidlmobley commented on #42
OK, what's the easiest way to handle `X.Y.Z` in code?

[2016-11-05 17:11] jchodera commented on #42
In Python, [tuples are compared lexicographically](https://docs.python.org/3/library/stdtypes.html#sequence-types-str-unicode-list-tuple-bytearray-buffer-xrange). If you split `X.Y.Z` into a version tuple `(X,Y,Z)`, you can simply use `(X,Y,Z)<=(P,Q,R)` to see if the version is earlier than or equal to the current supported version:

[code]

If you want to only use digits, you can turn a version s

[2016-11-21 23:34] davidlmobley opened #184 "Make a utility taking systems into AMBER/GROMACS"
Make a utility or example which will take SMIRFF system and go to AMBER `prmtop` and `crd` and/or GROMACS `top` and `gro`, as per https://github.com/choderalab/yank/issues/544#issuecomment-262032469

I can rely on github.com/mobleylab/solvationtoolkit for system prep, so really this means just taking a system which is already prepped (`.pdb` and `.mol2` files for the system and components availabl

[2016-11-21 23:35] #176 closed

[2016-11-21 23:52] jchodera commented on #184
Do we want to use TIP3P water or parm@frosst water? And would we want to use Amber or SMIRFF formats for the water?

You'll want to include as input:
* PDB file for the system to read in Topology and positions
* Mol2 files with partial charges for small molecule and solcent (if parameterizing solvent box)

I would save the serialized OpenMM System XML as well, just in case that is useful.

[2016-11-21 23:55] davidlmobley commented on #184
@jchodera - how would I save the serialized OpenMM System XML? Am not familiar with that.

Without some new development, I think we can only do AlkEthOH flexible water if we take the whole system from SMIRFF. We don't have constraints yet, nor do we have TIP3P in SMIRFF.

Potentially I could figure out how to do a SMIRFF solute in conventional TIP3P if I bring in TIP3P from AMBER (which would also

[2016-11-21 23:56] jchodera commented on #184
Actually, I wonder if we can easily graft in a reader for OpenMM XML and PDB (much like the amber or Gromacs readers)  so you can skip the ParmEd step. Let me ask @andrrizzi in the morning.

[2016-11-22 00:04] jchodera commented on #184
[code]

We can probably easily add constraints. Did that make it into the spec, or
is there just an issue?

We could also encode TIP3P water in SMIRFF if we wanted to use that instead.

Sounds good. I'd focus on the first part (prior to ParmEd) in case we can
add that XML reader input.

On the other hand, it may be useful to the paper how you can use SMIRFF in
Gromacs or Amber, so that conversion

[2016-11-22 00:07] davidlmobley commented on #100
@jchodera - this is where we stand on constraints.

[2016-11-22 00:08] davidlmobley commented on #184
Yes, that's a good point. The major issue is just the constraints.

I'll go ahead with the converter generally as this is something we need for other reasons, aside from just Yank.

[2016-11-22 00:13] davidlmobley opened #185 "Fix naming (?) issue with OpenMM nonbonded force methods"
I'm getting an exception relating to a name change (?) of a `NonbondedForce` type on system creation, probably a change in the OpenMM API in version 7:

[code]

Investigating.

[2016-11-22 00:25] davidlmobley commented on #185
Non-issue, I had bad arguments to a function call.

[2016-11-22 00:25] #185 closed

[2016-11-22 01:06] davidlmobley opened #186 "Multi-component systems lose charges in subsequent components"
I'm working on #184, prototyping conversion of the cyclohexane/ethanol mixed system which is provided here into AMBER via ParmEd, and uncovered a bug where subsequent molecules (after the first one) in a system end up with zero charges. I'll troubleshoot.

[2016-11-22 01:17] jchodera commented on #186
You'll want to focus on [these lines](https://github.com/open-forcefield-group/smarty/blob/master/smarty/forcefield.py#L1858-L1864) and add some debug code to see if it isn't finding all the matches or if somehow the charges in the `OEMol` are getting wiped out.

[2016-11-22 01:26] jchodera commented on #185
I find these sorts of errors great opportunities to add some checking of the input arguments to return more helpful error messages for when I do it again next time. :)

[2016-11-22 01:27] davidlmobley commented on #185
Already done in #187 , yes.

[2016-11-22 01:40] jchodera commented on #100
OK! This is super easy to implement if we get the thumbs-up.

We might want to also draft an example for rigid waters. Would that be:
[code]

[2016-11-22 01:43] jchodera commented on #100
I guess one question is whether we are OK with the number of atoms tagged in the `smirks` string determine whether to use the equilibrium bond length or whether to interpret the `1-2-3` atom tuple as an angle from which to derive an equilibrium constraint length.

[2016-11-22 01:44] davidlmobley commented on #186
I've basically isolated the problem, which I think is on this line:
`for (atom, atom_index) in zip(reference_molecule.GetAtoms(), atom_mapping):`

This pulls a specific key from the `atom_mappings` dictionary, but the key is never used to loop over the various mappings.

I should be able to fix this easily, but will be offline for the evening so it will have to wait til the morning.

[2016-11-22 01:46] davidlmobley commented on #100
I'll ask Chris to look at this. This was sitting there from August, so the comment about asking him in the morning is an old one.

[2016-11-22 02:28] jchodera commented on #186
`atom_mappings` should be a list of atom indices, not a dictionary, [according to the documentation](https://github.com/open-forcefield-group/smarty/blob/master/smarty/forcefield.py#L197).

[2016-11-22 02:45] davidlmobley commented on #186
Well,  I didn't look at the docs; I printed the contents and it was a dictionary. And it needs to be unrolled more than it is being right now.

[2016-11-22 03:10] jchodera commented on #186
Yep, you're right. This is a case of having confused myself by not keeping the documentation consistent with the code. Suggest we:
* Change
[code]
to
[code]
which should give the correct behavior.
* Update the documentation on [this line](https://github.com/open-forcefield-group/smarty/blob/master/smarty/forcefield.py#L197). It should be a `list` of `dict`s, where each `dict` maps the `OEAtom` ont

[2016-11-22 16:58] cbayly13 commented on #100
There are different use cases for constraints, so we either need a superbly designed mother-of-all-API-points or we can go with a fit-for-purpose design for the more immediate needs. IMHO the immediate need is for torsion driving and, conventionally, interaction energies. In these cases we assume the user submits the structure having the desired value of the degree of freedom, so I think it fits i

[2016-11-22 17:36] jchodera commented on #100
I think we might be thinking of different application domains here. This is
just for "which distance constraints are imposed during simulation via
SHAKE or SETTLE?"

OpenMM doesn't currently allow for torsion or other kinda of constraints.
If we do torsion drives, it will be using an external code to impose
geometries.

We don't need to come up with the final set of all possible constraints
either

[2016-11-22 17:50] davidlmobley commented on #100
@jchodera - I just pinged Chris again to clarify that we're addressing constraints for MD simulations, i.e. as normally applied to bonds involving hydrogen or to waters, etc.

In terms of your proposals, here are my thoughts:
- We need an easy mechanism to constrain bond lengths
- We need an easy mechanism to constrain bond angles
- Those two seem like they are separate and can cover all (?) of ou

[2016-11-22 18:20] davidlmobley commented on #186
@jchodera - not quite, as the code there assumes that `atom` is an OEAtom, whereas in the dictionary it is an index. That is, if I print the dictionary contents they look something like:
[code]
Troubleshooting.

[2016-11-22 18:32] jchodera commented on #186
Ah, OK. You'd need to use
[code]

[2016-11-22 18:34] jchodera commented on #100
We certainly wouldn't want to use this generally, but I was originally proposing this as a way to replace the functionality I stripped out where OpenMM allowed the user to specify `None` (no constraints), `HBonds` (constrain only bonds to hydrogen), and `HAngles` (constrain all bonds and any angles involving hydrogen.

[2016-11-22 18:36] davidlmobley commented on #186
I have a fix, though it's not that. The issues were deeper.

(Note that your code snippet does not use the `atoms` list that you just defined in the `for` loop, so it doesn't help. I've had to add code to retrieve the atoms from the reference molecule, store their charges, and then look them up by the atom index. I'll push an update to my PR soon after I do some cleanup.)

[2016-11-22 18:37] jchodera commented on #100
The updated rigid water example is then:
[code]

Oh, I hadn't even thought about that. We can't really constrain an angle specifically in OpenMM without constraining bonds, since only bond constraints are supported, so I'd actually argue we would want `[#1:1]-[#8X2H2:2]-[#1:3]` to constrain three bonds: `(1,2), (2,3), and (1,3)`. Otherwise, we would constrain a distance `(1,3)` but it wouldn't kee

[2016-11-22 18:37] davidlmobley commented on #100
It would certainly work for that, though is it preferable to do things this way rather than the slightly more general way of allowing a user to constrain bonds, angles, or both in combination? The latter actually seems easier to understand to me as it doesn't require wrapping my head around the idea that defining an angle SMIRKS also results in bond length constraints.

[2016-11-22 18:39] davidlmobley commented on #100
Ah, OK, @jchodera - if there is no mechanism to constrain an angle then I agree with you that the best way to do this is as you're proposing, that an angle constraint results in constraining all both bonds involved in the angle as well as the distance between the terminal atoms.

And I agree with your syntax.

[2016-11-22 18:41] jchodera commented on #100
I'm trying to think ahead as to what we might want to support in this format. There was initially some discussion about wanting to potentially keep some moieties rigid, or potentially to have groups of atoms (or pseudoatoms) that act like rigid units. This would allow us to have a way of having targeted groups of atoms be rigid in interesting ways, while still making it easy to specify "constraint

[2016-11-22 18:50] davidlmobley commented on #186
I have a fix for this in #187 now, though I don't have a test built in yet. (For a test, I'll validate energies against AMBER for a system with multiple components, but I need to get something else working before I get to that.)

[2016-11-22 20:49] cbayly13 commented on #100
Just catching up here, I agree with most of the above discussion about SHAKE and TIP/FastWater. SHAKE/SETTLE is about bond constraints in general, and we certainly need them quite apart from TIP/FastWater. I wonder if FastWater deserves a constraint special case. However, for both SHAKE and FastWater I am quite sure we need to abandon the assumption that the input structures will have the correct

[2016-11-22 20:57] jchodera commented on #100
What is TIP/FastWater?

SETTLE is the analytical solution of SHAKE for three-site waters, so is specific to three-site molecules.

[2016-11-22 20:57] jchodera commented on #100
We do have an example for water that includes this artificial bond from H1 to H2:
[code]

[2016-11-23 17:52] andrrizzi commented on #184
Sorry for the late response! Yes, that's something that could be implemented in a day or two.

[2016-11-23 18:13] davidlmobley commented on #184
Willing to do so soon?  That would help a ton and allow things to be much less amber centric.

[2016-11-23 18:29] andrrizzi commented on #184
Ok! I'll do my best to get it in by the end of the week.

[2016-11-23 19:44] jchodera commented on #100
Any further thoughts, or is this final format OK?

[2016-11-23 20:03] davidlmobley commented on #100
I'm good with this, @jchodera . I don't think Chris has any other insights.

[2016-11-23 22:44] bannanc commented on #100
I just got finished reading through this, I'm a little confused about the implication of the TIP water with the explicit H-H bond:

If we had Tip3p water then the H-H bond would exist and `[#1X2]` would match for hydrogens in water. Assuming you just start from a water molecule then that H-H bond isn't explicitly there and the `[#1X2]` would not match, correct? My understanding is the angle patter

[2016-11-24 00:11] jchodera commented on #100
I don't believe OpenEye tools would be able to correctly process an HOH molecule where the hydrogens were bonded to each other---that would violate its rules of chemistry, from what I understand.

I believe we're thinking of the case where the system contains a bunch of normal H-O-H molecules and we want to apply parameters typically considered to be "TIP3P" parameters. In that case, we would want

[2016-11-24 05:42] davidlmobley commented on #100
I agree with @jchodera here. I don't think Chris was thinking of how we're actually processing molecules/assigning parameters here. He was just thinking that if you had a hypothetical water that was set up like TIP3P, you could have a virtual bond between the two hydrogens and then `[#1X2]` would be a perfectly sensible SMIRKS. But it doesn't make any sense here.

[2016-11-28 18:45] andrrizzi commented on #184
Not sure if you received the notification via email @davidlmobley, but I've added the feature to support XML systems.

[2016-11-28 18:48] davidlmobley commented on #184
I did, @andrrizzi ! I have it on my short list to review. However, I've not used Yank at all yet, so it may take me a bit to figure out how to do this. What would help a lot would be if you could point me something that would show how to take a prepared system (i.e. via this support) and do a hydration calculation. Do you have an example? Even an implicit solvent hydration calculation would be a g

[2016-11-28 19:42] andrrizzi commented on #184
Of course! No pressure, I just wanted to be sure that you knew.

@Lnaden has written some [great tutorials](http://getyank.org/latest/examples/index.html) that explain in details the examples in the [yank-example repo](https://github.com/choderalab/yank-examples/). That includes hydration free energy examples from SMILES and a `mol2` file, and it's a great place to get the general idea. Unfortunat

[2016-12-01 23:14] davidlmobley commented on #174
I fixed this and forgot to note it, IIRC.

[2016-12-01 23:14] #174 closed

[2016-12-01 23:15] davidlmobley commented on #110
@maxentile - this is also a related issue.

[2016-12-02 00:49] davidlmobley commented on #184
@andrrizzi - how about if I want to do a hydration calculation for just a single molecule in GBSA solvent if I bring in the molecule parameters from an XML file? i.e. like the phenol implicit solvent example in yank-examples, but where I load phenol parameters from XML? Can this be done, or does it require something beyond what's currently supported?

Thanks.

[2016-12-02 00:52] jchodera commented on #184
@davidlmobley : Some questions:
* Are you only targeting GBSA here? And why? Is this just debugging, or do you plan to report these in the SMIRFF paper? If you just want to do GBSA, we can write a 10-line script to do that instead.
* The XML file will need to contain the assigned GBSA parameters. I'll need to finish this PR:
https://github.com/open-forcefield-group/smarty/pull/182

[2016-12-02 00:54] davidlmobley commented on #184
Just debugging, @jchodera -- wanted something I could run really quickly to verify things are behaving before plunging on to systems consisting of many molecules which will run much more slowly.

[2016-12-02 00:54] andrrizzi commented on #184
Hmm. The parameters should already be included in the system `xml` file that you feed to the script, so you shouldn't need to specify them explicitly. Or am I missing something?

[2016-12-02 00:57] davidlmobley commented on #184
@andrrizzi - I think there are two issues. The first is what I was originally asking -- I just don't know your yaml syntax enough yet to know how to adapt the example you sent to turn it into an implicit solvent case. Your example loads two entirely prepared systems; the example in `yank-examples` loads a molecule and solvates in (water, vacuum). What I want to do is something in between (if possi

[2016-12-02 00:57] jchodera commented on #184
I'd give the explicit solvent calculations a try, @davidlmobley. You should be able to add the TIP3P water parameters in SMIRFF format, at least for flexible TIP3P. If we're good with https://github.com/open-forcefield-group/smarty/issues/100 we can implement that too.

[2016-12-02 00:58] davidlmobley commented on #100
@jchodera - we think this is final.

[2016-12-02 00:58] jchodera commented on #184
You would need to provide XML and PDB files for both "molecule with `GBSAOBCForce`" and "molecule in vacuum". YANK won't add any forces or GBSA models or solvents if you are using this input route.

[2016-12-02 00:58] davidlmobley commented on #184
Yes, we're good with #100, @jchodera .

[2016-12-02 01:00] jchodera commented on #184
@davidlmobley : What's most critical, GBSA support (for implicit calculations) or constraint support (for explicit solvent TIP3P)?

[2016-12-02 01:02] andrrizzi commented on #184
Yeah, sorry, this would require creating a pipeline that is based on XML files, and it would take some time to implement. The only current way to do this is to provide two different `xml` files with their own parameters.

[2016-12-02 01:02] davidlmobley commented on #184
Constraint support is a higher priority for me, @jchodera, though I was under the impression you had to have GBSA support in right away for your other work.

[2016-12-02 01:03] davidlmobley commented on #184
@andrrizzi :

OK, no problem. I just thought this would be a super simple way to test, but I will instead try and proceed towards systems of many molecules (i.e. phenol in some solvent).

[2016-12-02 01:52] bannanc commented on #110
@jchodera and @davidlmobley
I think I missed this discussion, or at least the finer details in the whirlwind that was mid to late August.

My instincts on a "meta learning rule" here is to think about what decorators do. They are supposed to be used to distinguish elements from one another. So a `[#6X4]` would be a subset of `[#6]`. However for the atoms where @cbayly13 said he never uses decorato

[2016-12-07 22:55] davidlmobley opened #188 "Matching molecules to topology atoms results in peculiar behavior for symmetric molecules"
The current approach, wherein we identify molecules in our Topology by using a graph to match reference molecules onto the Topology, results in slightly odd behavior in the case of symmetric molecules. For example, for cyclohexane, the charge on one carbon ends up just slightly different than on other carbons, and our current "molecule to Topology" matching results in this carbon sometimes being t

[2016-12-07 23:05] jchodera commented on #188
Let me make sure I understand all the issues listed here:

1. When MCSS returns degenerate matches, we choose the first match, which may result in a random relative ordering of atoms in the molecule mapped onto the `OEMol` reference molecule. This causes weirdness when ParmEd tries to "compress" these into unique molecules, because the same molecule type is now represented by multiple distinct (ne

[2016-12-07 23:11] davidlmobley commented on #188
@jchodera :

Yes. It doesn't cause problems unless you expect that an OpenMM system written to/read from AMBER format will yield the same energies as an OpenMM system written to/read from GROMACS format.

This depends slightly on what you mean. Each molecule gets the same charges. It's just that they might be assigned to different atoms (i.e. carbon 1 of cyclohexane in the first instance gets the

[2016-12-07 23:12] davidlmobley commented on #188
I don't think this is a problem in terms of internal functionality at all, but definitely it results in weird/unexpected issues when going into other formats.

[2016-12-07 23:19] jchodera commented on #188
Unless I'm misunderstanding, that means one of those converters is broken. If the charges on atoms are inequivalent, for example, the GROMACS converter is making an error if it is assuming they are equivalent.

That's certainly one problem!

There are really no guarantees about what relative order the atoms will be in within a residue of a `Topology`. We can try to preserve relative atom ordering

[2016-12-07 23:27] davidlmobley commented on #188
Yes, working on that.

Ah, that's a good point. BUT -- is having all of the chemically equivalent mappings the same as identifying all of the atoms which should be chemically equivalent to one another? It's not immediately obvious to me that you can use the mappings (of one molecule onto another) to always identify which atoms (within the same molecule) should be symmetry-equivalent to one another

[2016-12-07 23:58] jchodera commented on #188
For our purposes, simply averaging charges over all symmetry-equivalent mappings should just do the right thing.

It's *an* equivalent approach that should not affect anything except for the ability of your gromacs writer to compress topology files.

We could easily add an option to symmetrize charges, but I'm not sure if we would want it on or off by default.

[2016-12-09 21:43] davidlmobley commented on #184
@andrrizzi - OK, so I have my systems prepared (I think) and am trying to use this. However, I'm running into an error relating to my gas phase system -- it says that a receptor-ligand system requires a restraint?? (I'm trying to run the solvation free energy for a solute in cyclohexane and in gas).

Here's the error:
[code]

Files are attached.

[SAMPL5_003.yaml.zip](https://github.com/open-force

[2016-12-10 22:22] andrrizzi commented on #184
@davidlmobley Thanks for catching this!

Yank guesses which atoms are part of the ligand from the input ligand DSL, which ones are part of the solvent based on the common solvent residue names used by mdtraj, and put as receptor everything else. Since the octane molecules in your input files don't use any of [these residue names](https://github.com/mdtraj/mdtraj/blob/master/mdtraj/core/residue_nam

[2016-12-10 22:29] andrrizzi commented on #184
Also, the `NonbondedForce` in `cyclohexane-SAMPL5_003.xml` uses `NoCutoff` as nonbonded method, so Yank thinks that you want to simulate in implicit solvent or in vacuum. I think you need to fix that in the xml preparation code.

[2016-12-12 19:17] davidlmobley commented on #184
Yes, @andrrizzi - having an enumerated list of acceptable residue names that are recognized as "solvent" is not an acceptable solution to this problem, as one might need to simulate hundreds or thousands of solvents. Also, AMBER files require that each molecule have a unique residue name -- so if I want to parameterize, say, 100 different small molecules and simulate them in various combinations,

[2016-12-14 22:19] bannanc opened #189 "Trouble with smarty/smirky "trajectory" files"
I had a smirky run on our cluster time out and realized an improvement that should be made on the way the "trajectory" files are output on both smirky and smarty.

Right now the data for "trajectory" files are saved as a list in the run function instead of just writing to the output file during each step. I don't think this ideal for memory. Also it means we have no trajectory file for simulations

[2016-12-15 23:00] davidlmobley opened #191 "Make utility function for merging systems"
We would like to be able to use ligands set up with SMIRFF (to be renamed SMIRNOFF) together with proteins set up with AMBER or other forcefields. I think it should be possible to do this using ParmEd; @limn1 is going to look into it.

A longer-term solution we also discussed with @cbayly13 is putting select AMBER forcefields into SMIRNOFF format; I'll raise a separate issue for that.

[2016-12-15 23:02] davidlmobley opened #192 "Put AMBER99SBildn into SMIRNOFF format"
@cbayly13 and I have tentative plans to put AMBER99SB-ildn into SMIRNOFF format. We don't think it should be that hard given all the work he already did on parm99; the tentative plan is for him to do parm99 and then me to do the -ildn extensions (which are only ~200 lines).

[2016-12-15 23:04] davidlmobley opened #193 "Rename SMIRFF stuff to SMIRNOFF"
@jchodera had strong objections to the Smirks Force Field (SMIRFF) name for the forcefield format, so after discussing with him and Christopher Bayly and others in person, we came up with an alternative acronym that he's happier with: SMIRNOFF, for Smirks Native Open Force Field.

So, I need to update things here and on github.com/open-forcefield-group/smirff99frosst to reflect this.

One key ques

[2016-12-16 00:11] davidlmobley commented on #189
This sounds good/important, @bannanc . Thanks for working on it.

[2016-12-19 19:50] #186 closed

[2016-12-19 19:52] davidlmobley commented on #189
@bannanc - this was resolved by #190, yes?

[2016-12-19 19:52] davidlmobley commented on #184
Resolved by #187 .

[2016-12-19 19:52] #184 closed

[2016-12-19 19:53] davidlmobley commented on #188
This was partly resolved by ParmEd, which no longer does peculiar things if charges aren't equivalent across topologically identical molecules. However, we should still try and produce symmetric matchings.

[2016-12-19 21:18] bannanc commented on #189
yes!

[2016-12-19 21:18] #189 closed

[2016-12-19 22:08] jchodera commented on #188
Do you mean we should (1) average charges over degenerate matches to ensure chemically equivalent atoms are identical, or (2) use some sort of scheme to uniquely identify atom orders?

[2016-12-19 22:39] jchodera commented on #100
I just spoke with @cbayly13, who pointed out that it would be desirable to be able to express constraint distances as well in this format:
[code]

[2016-12-19 22:42] davidlmobley commented on #100
If I read this correctly, @jchodera , the difference is that you're just specifying distance and angle, potentially? I agree this would be a plus since one might want to be able to start with structures that don't necessarily have correct geometries.

[2016-12-19 22:42] davidlmobley commented on #188
Averaging over degenerate matches to ensure chemically equivalent atoms are identical.

[2016-12-21 01:28] davidlmobley commented on #191
Closed by #194 .

[2016-12-21 01:28] #191 closed

[2016-12-22 19:49] davidlmobley opened #196 "Need mechanism to (or example of) setting PBC/box vectors"
@jchodera - could you give a simple example of setting up periodic boundary conditions for OpenMM?

Currently, `ForceField.createSystem` uses whether or not box vectors are defined in the `Topology` to decide whether to apply periodic boundary conditions or not. However, there is no code here or in our documentation that sets box vectors, which means that any solvated systems we might set up with

[2016-12-22 19:54] davidlmobley commented on #196
FTR, we're generating boxes using packmol and cubic boxes with dimensions running from 0 to (whatever) (see [openmoltools](https://github.com/choderalab/openmoltools/blob/master/openmoltools/packmol.py#L23-L28)) so presumably this results in rather simple box vectors which could be inserted into the `Topology`, I would imagine.

[2016-12-22 20:28] jchodera commented on #196
I would append the `CRYST` header with the known periodic box vectors to the beginning of the PDB file output by packmol. See [here](https://github.com/pandegroup/openmm/blob/master/wrappers/python/simtk/openmm/app/pdbfile.py#L283-L299) for format.

[2016-12-22 21:19] davidlmobley commented on #196
Looks like it's already there:

Now I just need to figure out why it's not getting into my `Topology`.

[2016-12-22 21:21] jchodera commented on #196
Here's the code that [reads the `CRYST1` header](https://github.com/pandegroup/openmm/blob/master/wrappers/python/simtk/openmm/app/internal/pdbstructure.py#L182-L189).

How are you loading your PDB file?

[2016-12-22 21:26] davidlmobley commented on #196
Actually, it looks like I'm OK -- I had a system which was giving weird energies and I traced it to issues relating to PBC/cutoff, and thought it was PBC, but it seems that the PBC is actually set up properly (because `packmol` wrote the `CRYST1` header to the PDB and I was reading it using PDBFile). Instead, I just failed to notice that the default nonbonded scheme for `createSystem` here is `NoC

[2016-12-22 21:26] #196 closed

[2017-01-17 18:13] davidlmobley opened #197 "Conda installing 0.1.4?"
@jchodera - via `conda`, we're still getting 0.1.2 from Omnia rather than 0.1.4. Is there something we have to do to get the build to update? @limn1 is having issues with this when attempting to get it going on Orion to use the SMIRNOFF forcefields.

[2017-01-18 17:37] jchodera commented on #197
Fixed by updating the conda recipe: https://github.com/omnia-md/conda-recipes/pull/673

Note that you have to do this for each release you want to build.

[2017-01-18 17:37] #197 closed

[2017-01-18 18:30] davidlmobley commented on #197
Yes, I'd forgotten that, but then figured it out again yesterday. Thanks.

[2017-01-30 05:26] nathanmlim opened #199 "Dictionary AttributeError in score_utils.py (Python3 Related)"
When trying to use smirky from the command line, I encountered this error:
[code]
According to the [docs](https://docs.python.org/3.1/whatsnew/3.0.html#builtins) 'has_key' was removed with Python 3

[2017-01-30 16:25] davidlmobley commented on #199
@bannanc - can you have a look? I think in python3 this would be `if not iteration in timeseries`, which I believe also works in python2.7.

@limn1 - it also might be good to update me on Slack what you're doing with Smirky, as it's not totally obvious to me and I'm curious. :)

[2017-01-30 22:02] bannanc commented on #199
@limn1 - I'm also curious what you're doing with smirky?

@davidlmobley - I'll fix this and double check we aren't using similar dictionary checks. I thought I had a test for all the functions I wrote, but I must have missed some of them in score_utils, so I'll look into that as well.

[2017-01-30 22:24] davidlmobley commented on #199
He was just trying the example for fun, @bannanc . :)

[2017-01-31 02:54] bannanc commented on #199
see pull request #200

[2017-02-01 00:42] bannanc opened #201 "Test for smarty that includes all functionality"
In fixing issue #199 I've realized that the tests for the smarty sampler (both elemental and original sampler). For example we don't have a test that uses the combinatorial decorators or that produces a trajectory or plot file.

I'm working on adding a new test now, but thought I should raise the issue so its clear why my pull request has gotten more complex.

[2017-02-02 20:29] bannanc opened #202 "Elemental Sampler scoring incorrectly"
I'm still investigating, because this doesn't seem to be happening consistently, but there appears to be some inconsistencies in how the SMARTY elemental sampler is scoring matches.

I'm going to walk through a few things that I think are problematic about the way the elemental sampler is working. Some of this is scoring, the rest is just cleanliness and efficiency. These are mostly in the order t

[2017-02-02 23:11] bannanc commented on #202
Should we add a "it's not 100% test" or is this a temporary bug we don't think will be repeated.

[2017-02-02 23:24] bannanc commented on #202
Looking further into this, in this log file, this is the first iteration where the score is reported correctly:

[code]

This is also the first iteration to make it the "score comparing phase." That is to say the other iterations are rejected based on things like the new atomtype doesn't match any atoms or you can't destroy a basetype. This is leading toward a conclusion that there might be some k

[2017-02-02 23:28] bannanc commented on #202
I ran a script that looked for files that had a 100% score on the first iteration, It looks like most of them that did not reached the "score comparing phase" in the first iteration.

[2017-02-07 00:26] bannanc commented on #193
I don't have a strong preference on the hyphen or no hyphen, but make sure SMIRKS is all caps.

[2017-02-08 01:06] davidlmobley commented on #202
@bannanc - I'm reviewing your notes. A few responses:

We shouldn't be, unless doing so simplifies the code so much that it isn't worth the investment of human time to bypass.

I agree that after setup, in your example above, the total should be `10054/16917` and so much less than 100%. If the total is initially 100% then something is being scored incorrectly.

How would you test for this? Put in

[2017-02-08 05:48] bannanc commented on #202
That is approximately what I was thinking. When we get the tests with pandas working I can add a test that looks at the total score for the first iteration and checks that it is not 100%.

I think we can clean up the code a bit so that it doesn't have to look at elements that are not the one being sampled, which will take a little work, but I think I know how to do it. I'm under the impression I w

[2017-02-08 17:26] davidlmobley commented on #202
Yes, I don't believe there have been any changes in `smarty` since then.

I have the `pandas`/travis issue on my short list to look at so hopefully will get to it soon.

[2017-02-08 21:16] bannanc commented on #202
I'm adding this for the record, there is a way to loop through only atoms of a certain element number using OpenEye:
[code]

This means it should be easy to rework everything in the elemental sampler to only look at atoms of the given element number. That should clean up the code significantly as we will only be keeping track of atoms with the given elemental number.

[2017-02-09 14:21] davidlmobley opened #204 "Remove forcefield from data package after it is made installable on other repo"
This PR included a version of the forcefield in the data package which is installed here: https://github.com/open-forcefield-group/smarty/pull/203

A better long-term solution is to make the versioned forcefield itself conda-installable. https://github.com/open-forcefield-group/smirff99Frosst/issues/13

[2017-02-09 22:11] bmanubay commented on #204
Hey @davidlmobley,

Just to clarify: there is currently no way to load an ffxml with `smarty` unless it is in the proper data directory on your `os.path`, correct? Michael and I were discussing how it would be convenient if the ffxml could be loaded locally, or if the file was conda-installable into the proper directory in `smarty`.

[2017-02-09 22:46] bannanc commented on #77
@davidlmobley - I found the issue, I fixed it on smirky and then didn't come back to fixing smarty.

[2017-02-09 22:55] bannanc commented on #17
@davidlmobley
I think this has been sufficiently addressed with store typenames and parents in the trajectory files so we could use them to rebuild scores for individual types, the total score, parent trees, etc.
I'm closing for now.

[2017-02-09 22:55] #17 closed

[2017-02-09 23:03] bannanc commented on #70
I haven't seen this issue in any of my more recent testing, we must have done something to fix this.
It must have been addressed by pull request #73
I'm closing, @davidlmobley reopen if you disagree

[2017-02-09 23:03] #70 closed

[2017-02-09 23:08] bannanc commented on #152
I fixed these in pull request #151 There are more issues with the elemental sampler, but those are listed in issue #202

[2017-02-09 23:08] #152 closed

[2017-02-09 23:09] bannanc commented on #139
@davidlmobley
I never did this, did you?
Shouldn't this issue be in the SMIRNOFF directory?

[2017-02-09 23:35] bannanc commented on #80
I don't consider this an issue, we are running tests at various temperature as a way to collect data.
These aren't things that are going to be included in the directory here. (Mostly because the resulting output is too large to track in a github repository).

@davidlmobley - can we close this with the note that the effect of changing temperature is being discussed in the coming publication?

[2017-02-09 23:52] davidlmobley commented on #204
@bmanubay -- right now, what you are saying is correct if you're after loading an ffxml from within the repo. Of course if you provide your own ffxml you can load it. :)

However, the latest master now includes the main `smirff99frosst.ffxml` in its data directory so it gets installed -- see https://github.com/open-forcefield-group/smarty/pull/203 . As soon as we cut a new release and update the c

[2017-02-10 00:01] bannanc opened #205 "In SMARTY remove any initial types that match zero atoms"
Example output after 9 iterations
[code]

We shouldn't be wasting time creating atomtypes that don't exist in the molecule set.
I will address this will all the other things I'm fixing in pull request #198

[2017-02-10 00:01] bmanubay commented on #204
Crystal clear David! Having `smirff99frosst.ffxml` in the latest `smarty` version will suffice just fine for now, but I do agree that having the ffxml files be conda-installable would be AWESOME from a more collaborative development standpoint :)

[2017-02-10 00:02] bannanc opened #206 "Organization in the smarty init function"
I'm working on organizing and cleaning up the code for the elemental smarty, I think it can inherit the original sampler or just be included as an option in the original sampler without needed a whole new code.

The init function in the original sampler is fairly untidy so I'm going to try to clean up the comments and group things in a more local order.

[2017-02-10 00:03] davidlmobley commented on #77
Ah, right, thanks, @bannanc .

[2017-02-10 00:03] bannanc commented on #206
As with the other new issues, I'll include fixes in #198

[2017-02-10 00:11] davidlmobley commented on #139
This wasn't done yet, @bannanc . I think it has to be dealt with here because the materials to create/update smirff99Frosst and derivatives (from `frcmod`/`parm`-like files in the AMBER style are in this repo.  We still don't want to be editing the ffxml directly as we expect more updates coming in from AMBER-like formats.

Alternatively, you can just grab the parameters, stick here, and I can pro

[2017-02-10 00:11] davidlmobley commented on #139
Oops, I see you assigned me. That's fine, I can do it, @bannanc .

[2017-02-10 00:14] davidlmobley commented on #80
So noted, @bannanc . We can probably update the `README.md` files in the relevant `examples` directories here with some conclusions about temperature effects for completeness.

[2017-02-10 00:14] #80 closed

[2017-02-10 00:17] davidlmobley commented on #205
I had thought I'd fixed this long ago, but it seems like (from looking at the issue tracker) what I really fixed was to allow unused base types to get destroyed. So, these should eventually go away (and then no longer be suggested) but certainly you can save some effort by just getting rid of them initially, @bannanc .

[2017-02-10 00:19] davidlmobley commented on #204
@bmanubay - see tentative plan here: https://github.com/open-forcefield-group/smirff99Frosst/issues/13

If this is something which becomes more urgent for you please comment again.

[2017-02-10 01:12] bannanc commented on #139
@davidlmobley I assigned us both, I was going to see if you had time to do it, if you don't I'll add it to my list.

I hadn't thought much about the force field until Nam started using it on the OFF-compare project, it looks like there are some weird conformations happening with sulfur.

[2017-02-10 01:14] bannanc commented on #205
@davidlmobley I'm updating the smarty sampler as we speak, I already added a few lines to remove unused initial types.

[2017-02-10 23:53] bannanc commented on #199
Fixed with pull request #200

[2017-02-10 23:53] #199 closed

[2017-02-10 23:55] bannanc commented on #201
This was largely addressed in pull request #200
I'm planning to add one more in my open pull request that also checks that the initial score (if not given the "answers") is not 100% which will check that total scores are being calculated correctly.

[2017-02-13 19:22] bannanc opened #208 "Ideal changes for smarty sampler"
I have a pull request open already, #198 that is addressing changes to the smarty original and elemental sampler.
In the process of investigating the best way to setup the elemental sampler, I've come across a few other minor issues that I will fix in this pull request, I wanted to have a list of them in an issue for prosperity sake.

1. It seems that we were not consistent in creating atomtype li

[2017-02-13 19:41] bannanc commented on #208
@davidlmobley
I'm also noticing there are some things being imported that don't seem to be used, maybe we need them somewhere I'm not familiar with, or maybe Camila or John used them while testing. Here are the modules, I'm not seeing being used:

sys
string
math

optparse is imported in the sampler.py, but is only used by cli_smarty.py does it need to be imported here too?

[2017-02-13 20:48] bannanc commented on #208
There is some inconsistency with method doc strings I'm trying to repair as well

[2017-02-14 20:57] davidlmobley commented on #208
Sorry for the delay, @bannanc . Responses:

No, I don't think so.

Regarding potentially unused modules `sys`, `string`, and `math`, I am not aware of using these. Simplest would probably be to `grep` the main code for their use, or just remove them and ensure things still work.

Regarding `optparse` - it should only be imported where it is needed, so if it's imported elsewhere that's unnecessary.

[2017-02-15 00:19] bannanc commented on #208
I decided to use tuples, I think all atomlists are now lists of tuples.

I removed any of the imported modules not used in the smarty and smirky sampler. The tests seem to be passing so I assume they really were unnecessary.

I have also updated the doc strings (mostly in the smarty sampler).

[2017-02-16 20:52] bannanc opened #209 "utils.read_molecules method deletes molecule title?"
While trouble shooting smarty with MiniDrugBank, I was trying to see which molecule was failing to be typed.

I noticed something. If I read in a molecules file (MiniDrugBank_atyped.oeb) myself, such as the script below, it keeps titles I assigned the molecules. But if I used the utils.read_molecules method it loses the titles.

Self loading:
[code]

Read_Molecules:
[code]

Inside read_molecules t

[2017-02-16 20:53] davidlmobley commented on #209
Yes, I don't see any reason we should be overwriting existing titles.

[2017-02-16 20:55] bannanc commented on #209
Ok, I'll include it with the still open pull request.

[2017-02-17 00:17] bannanc commented on #209
Fixed with pull request #198

[2017-02-17 00:17] #209 closed

[2017-02-17 00:17] bannanc commented on #208
updated in pull request #198

[2017-02-17 00:17] #208 closed

[2017-02-17 00:18] bannanc commented on #206
added in pull request #198

[2017-02-17 00:18] #206 closed

[2017-02-17 00:18] bannanc commented on #205
fixed in pull request #198

[2017-02-17 00:18] #205 closed

[2017-02-17 00:19] bannanc commented on #202
Significant changes as of #198

[2017-02-17 00:19] #202 closed

[2017-02-17 00:28] bannanc commented on #201
finished addressing in #198 including checks for cases where the score should definitely not be 100%

[2017-02-17 00:28] #201 closed

[2017-02-17 00:28] bannanc commented on #77
fixed in pull request #198

[2017-02-17 00:28] #77 closed

[2017-02-17 00:29] bannanc commented on #156
I added in pull request #198

[2017-02-17 00:29] #156 closed

[2017-02-17 00:30] bannanc commented on #46
I have this as a todo on my list right now, because I think we would like to have nice figures of these for the paper. I'll likely add whatever I come up with to the score_utils methods

[2017-02-17 00:33] bannanc opened #210 "SMARTY and SMIRKY examples"
In all the other issues that came up during pull request #198 I realized I forgot to update the smarty example in examples. The current smarty example is very out data, it doesn't have a trajectory file or any reference to the elemental sampling options.
The smirky one could also used some cleaning up too.

[2017-02-17 02:54] bannanc opened #211 "Duplicate Typenames lead to scoring errors"
It took a while for me to find what was wrong (you can see the process of that below)

In summary if more than one atomtype has an identical typename it will be counted twice since the typename is what is used to assign the current types to an atom and then used to score. So if there are 2+ atomtypes with the same typename there are resulting score problems.

I'm looking more closely at my tests w

[2017-02-17 02:54] bannanc commented on #211
fyi @davidlmobley

[2017-02-17 03:54] bannanc commented on #211
Here is an example iteration with > 100%

[code]

From what I can tell so far, the only issue is in how the "numerator" of the total is calculated. It should be the sum of the numerators above, but it isn't.
In this case the numerators add up to 6,664 which seems more accurate.
I'm looking at the code now, this isn't a section I changed, but it must depend on something I did change.

[2017-02-17 04:13] bannanc commented on #211
Ok, I missed it until I looked at the previous iteration where the the total score is what I expected in the example above.

There are ***TWO CA*** atomtypes listed in the references above.

I am trying to figure out what I changed that allowed this to happen.
Note the "basetypes" used here ( found at smarty/data/atomtypes/basetype.smarts) has an aromatic carbon, I found it after I finished these

[2017-02-17 04:46] bannanc commented on #211
~I could use some help on how this is happening,
I read through the best_mathc_reference_types method again and I don't understand how it is possible that the same reference typename (atomtype) came up twice in the scoring sequence.~

*** LightBulb ***

In the example above, there are two current types with the same name!
We check that the current atomtype names are not in the reference list.
We a

[2017-02-17 04:52] davidlmobley commented on #211
@bannanc - it's been a long time since I looked at the code for this, so I'm not sure I'll be that helpful from a coding point of view. But, seems like it shouldn't be possible to include the same atoms in two sets of matches unless we're not checking something we should be.

In other words, if atoms are being matched to `[#6a]` then they shouldn't be allowed to match `[#6&a]` also, right? It woul

[2017-02-17 04:58] davidlmobley commented on #210
Yes, would be good to have updated examples.

[2017-02-17 05:00] davidlmobley commented on #46
I really like the style of the color wheel/tree just below the header "Node backgrounds"; not sure if it would work here, but I'm imagining something where the wheel is colored by element and different legs are labeled with their SMARTS/SMIRKS could be really cool if it could be made to work. Possibly too much trouble than it's worth to try and go with that layout (as opposed to a simple tree) tho

[2017-02-17 19:39] bannanc commented on #211
So the problem, in this case, comes because matches are stored by typename, not smarts string. Both types `[#6a]` and `[#6&a]` had the typename "c_carbon aromatic".

So when we typed the atoms it only stored the last type name, c_carbon aromatic", but when matches are calculated there is a node for each atomtype so there are two nodes with the same name c_carbon aromatic. Apparently this is allowe

[2017-02-17 20:41] bannanc commented on #211
Ok, I realized what is probably happening with the bipartite graph is that there is one node with the "carbon aromatic" name, but because we loop through the list of atomtypes we find that same node twice.

[2017-02-17 23:14] bannanc opened #213 "HasAlpha method won't work correctly if you use replacements"
Something I noticed when updating the smarty documentation was the way we check for Alpha atoms won't work if there are substitution strings.

The `HasAlpha(atomtype)` method is supposed to return true if an atom has an alpha substituent.
It does this by checking for a '$' symbol.
Thus far, we have not used replacement options when using the combinatorial-decorators option.
So the only time a '$'

[2017-02-17 23:15] bannanc commented on #213
@davidlmobley heads up ^

[2017-02-17 23:26] davidlmobley commented on #213
Yes, this would be a substantial improvement, @bannanc .

[2017-02-21 20:41] bannanc commented on #213
fixed in pull request #212

[2017-02-21 20:41] #213 closed

[2017-02-21 20:41] bannanc commented on #211
New typename generation in pull request #212

[2017-02-21 20:41] #211 closed

[2017-02-21 20:42] bannanc commented on #210
Updated in pull request #212

[2017-02-21 20:42] #210 closed

[2017-02-21 20:48] bannanc commented on #46
I'm working on this currently, I'm not sure how easy it will be to automate this process, but I have an ipython notebook generally showing how to do this in branch issue46 which has a work in progress pull request #214

[2017-02-22 05:09] bannanc opened #215 "MiniDrugBank atoms still not typed?"
There seems to be an issue with atomtypes in the MiniDrugBank set, still...

Here is a section from the command line output for a sampling of hydrogen:
[code]

It seems to think there is only one atomtype for all hydrogen atoms, H, but there were 13 hydrogen types when I created the MiniDrugBank molecule set last week.

I think there may have been a flavor/format issue when I saved the MiniDrugBan

[2017-02-22 05:23] davidlmobley commented on #215
Yes, I think I had some issues in the past with atom types not getting preserved on filtering. The filtering tool might need some adjustment on that front.

[2017-02-22 06:01] bannanc commented on #215
I thought I had taken care of it, but I guess not.
I've followed the AlkEthOH structure instead and made two mol2 files, one with parm@Frosst types and one with Tripos. (I'm not sure we need the Tripos types, but I have the files now...)

I'll get a pull request in the morning with them in the data/molecules/directory

[2017-03-02 00:52] bannanc opened #216 "Find missing parameters in smirff99Frosst for DrugBank"
Since the ipython notebook for converting Frcmod files to smirff ffxml files is in this repository, I'm cross listing issue#14 from smirff99Frosst https://github.com/open-forcefield-group/smirff99Frosst/issues/14

[2017-03-04 02:41] bannanc commented on #139
@davidlmobley
I sort of feel like I'm missing something, but I've looked at the gaff.dat and gaff2.dat files and I don't see anything for boron...

Are we sure gaff covers boron?

[2017-03-04 06:14] davidlmobley commented on #139
No. Oddly, I assumed it did, but it seems not to!

Can you pull some boron-containing compounds and send them Vickie's way? We can have her run some reference QM calculations and just pull bond lengths/angles directly from the QM in a coarse way, and make up some force constants that are consistent with similar bonds. Then we'll at least have basic parameters. (We can make do with fairly generic t

[2017-03-06 23:41] davidlmobley opened #219 "Switch to main OpenEye releases rather than beta channel"
We should switch back to the release channel for OpenEye toolkits rather than the beta; the beta will sporadically be unavailable for specific architectures (for example, see #218 ).

[2017-03-07 18:34] bannanc commented on #139
@davidlmobley I mentioned this to Christopher today, he says that AM1BCC also doesn't charge molecules with Boron. The goal with smirnoff99Frosst is to cover the chemical space in existing force fields. Should we be spending time calculating parameters that don't exist in the current FFs?

[2017-03-07 18:37] davidlmobley commented on #139
I also talked to Christopher about that, @bannanc , and there is a fallback option in the AM1-BCC calculation which can allow you to just get AM1 charges. I'd actually like to get boron in here for "current science" reasons -- Brian Shoichet is doing measurements of binding affinities of boron-based compounds in the lysozyme binding sites (rings containing the occasional boron rather than just phe

[2017-03-07 18:40] bannanc commented on #139
Ok, when we're back I'll give some boron compounds to Vickie.  And get at least rough estimates available.

[2017-03-07 18:56] davidlmobley commented on #139
Thanks! And we should ask Chris for the invocation to get AM1 charges from the AM1BCC calculation...

[2017-03-08 04:01] jchodera commented on #139
I believe retrieving AM1 charges is already supported. See the [help here](https://github.com/open-forcefield-group/smarty/blob/master/smarty/forcefield.py#L861-L899). If you specify one of the OpenEye charge methods for `chargeMethod` (e.g. `OECharges_AM1`) you will get just AM1 charges. If you specify `chargeMethod=BCC`, you'll get OpenEye-assigned AM1 and any listed `<BondChargeCorrection>` ter

[2017-03-08 04:28] davidlmobley commented on #139
@jchodera - that's correct, but Chris said that there is a way to ask for AM1-BCC so that it will automatically fall back to AM1 charges for any atoms for which BCC parameters are not available. (By default, if you ask for AM1-BCC and BCC parameters are not available for some atom, it will just raise an exception, but it is possible to alter this behavior with the appropriate invocation apparently

[2017-03-08 04:33] jchodera commented on #139
If you let `smarty.forcefield.ForceField` assign the BCC charges for you by setting `chargeMethod='BCC'` and specifying `<BondChargeCorrection>` parameters in the SMIRNOFF forcefield, it will do this for you automatically.

I guess you're looking for an `OECharges_` option that will let you pre-assign charges outside of SMIRNOFF with OpenEye tools instead?

[2017-03-08 04:39] davidlmobley commented on #139
Right, but then we'd have to dig up and specify all the BCC parameters, right? Though maybe that would not be hard -- have to see whether these are easily accessible in the original paper.

That was the thought, yes.

[2017-03-08 14:12] jchodera commented on #139
BCC atom types are [defined here](https://github.com/choderalab/ambermini/blob/master/share/amber/dat/antechamber/ATOMTYPE_BCC.DEF), and BCCs are [defined here](https://github.com/choderalab/ambermini/blob/master/share/amber/dat/antechamber/BCCPARM.DAT). I guess there are 405 BCCs defined (some of which are zero) and ~60 atom types.

[2017-03-09 20:02] davidlmobley commented on #165
@jchodera - is there any possibility of you doing this in the near future so we can proceed towards separating SMIRNOFF from `smarty`? Otherwise we should perhaps go ahead and do so without GBSA support. Or perhaps I might be able to figure out how to do this with my group.

[2017-03-09 20:06] jchodera commented on #165
Yup, sorry, had written a response but forgot to press `Comment`. Let's just finish this now and then we can move on with pulling SMIRNOFF out.

[2017-03-09 20:06] jchodera commented on #165
I'll try to finish this up tonight.

[2017-03-10 20:00] davidlmobley commented on #165
Any headway, @jchodera ?

[2017-03-13 17:18] ramess101 opened #220 "United-atom Types"
United-atom types are quite popular in "data driven" force fields.  For hydrocarbons the "virtual site" is located on the carbon atoms while the hydrogens are not accounted for explicitly.  Hydrogens attached to  oxygen, nitrogen, etc. are typically still included explicitly which means that for non-hydrocarbons there is a mix of explicit and implicit hydrogens. This might complicate matters since

[2017-03-13 17:37] ramess101 opened #221 "Non-bonded potentials"
We anticipate implementing the Mie m-n potential and the Exp-6 potential.

Here are some simple python codes for both potentials:

Note that the Exp-6 code does not account for the fact that at low distances (low values of r) the potential turns over. To correct for this it is common to assign a variable r_max to the minimum value of r at which dU_Exp6/dr = 0. U is assigned to infinity for all val

[2017-03-13 19:13] davidlmobley commented on #220
@ramess101 -- I don't understand, what is the purpose of having a virtual site which is located ON the carbon atoms? Or are you just saying we want a single interaction site on the carbon, where the hydrogens are not used?

@jchodera and @bannanc - thoughts on how we would want to do this with SMARTS/SMIRKS? Perhaps just a SMIRNOFF tag for "united atom" forcefields which allows specific SMIRKS pat

[2017-03-13 19:15] ramess101 commented on #220
Sorry, I was just trying to be consistent with your terminology of "virtual site" but clearly that created more confusion than clarity. Yes, the united-atom model just has a single interaction site on the carbon whereas the hydrogens have no interaction site.

[2017-03-13 19:36] davidlmobley commented on #220
Sorry, @ramess101 - I should clarify "virtual site" then. Say we are simulating `N` particles, so we are tracking the coordinates of those particles. A virtual site is one way of handling another interaction site; for example, we could say that there is additional Lennard-Jones or charge site that is placed in a certain position/orientation relative to every carbonyl group, or some such. If this i

[2017-03-13 19:46] ramess101 commented on #220
@davidlmobley Yes, that makes sense. Thanks!

[2017-03-13 21:19] bannanc commented on #220
Are united-atoms always the same combination of atoms or are they something we're going to learn?

I'm not very familiar with united atoms so I'm trying to understand when they'd be applied. From the call today it sounds like you're assigning parameters (specifically Lennard Jones, non-bonding?) to a group of atoms rather than a single atom. In the SMIRNOFF format we don't really have

as those at

[2017-03-13 23:47] bannanc opened #222 "How to treat base types in smarty"
We've realized one reason smarty cannot get 100% on DrugBank is due to the inability to "OR" element numbers together. This stops us from finding electron withdrawing groups for example. My first instinct is to put $ewg groups into the base types as those are groups of atoms we have decided are worth keeping grouped together. These are already in the substitutions SMARTS file.

However simply incl

[2017-03-14 01:53] bannanc opened #223 "Errors when running SMIRKY on MiniDrugBank"
Initially I thought it was just missing 3D coordinates:
I forgot about this problem when I recreated MiniDrugBank. SMIRKS string searching requires atom stereo and the 2D coordinates in DrugBank causes errors. I'm adding 3 dimensional coordinates to miniDrugBank right now. I'll put into a pull request later tonight.

@davidlmobley fyi ^ this caused issues with my most recent smirky simulations.

L

[2017-03-14 03:12] bannanc commented on #223
Well I have a more complex problem. I'm actually getting this error:
[code]

I didn't get this with the old MiniDrugBank set, which I think had the same molecules... I can't figure out why this would happen. I use the `OECreateIsoSmiString` to create SMILES strings to track indices by molecule. Is there any way that method would create a different SMILES string for the same molecule?

[2017-03-14 03:24] bannanc commented on #223
Oh, no... I had `OEMolToSmiles(mol)` before, this was an oversight. I fixed the two relevant lines in sampler_smirky and am going to include it in pull request #224

[2017-03-14 03:32] davidlmobley commented on #222
@bannanc - I'm not totally clear on this phrasing:

By "type without overwriting", you mean just check if base types can type anything, without checking to see whether they would empty the other base types, right?

Maybe there should be a warning printed or logged in this case, though, as in some cases this will clearly be a good thing (e.g. as in the case of macros) but in others it would be a mi

[2017-03-14 03:35] davidlmobley commented on #223
So, @bannanc - this is resolved now? You were creating canonical rather than isomeric SMILES before, so now you've fixed it?

Probably we should start all our workflows by checking whether molecules are 3D. I think there is an OEGetDimension or some such (something about number of dimensions) which is the key way to check whether molecules are 3D. We should probably just throw an exception when th

[2017-03-14 03:35] davidlmobley commented on #223
(LMK if you need me to dig up the exact command.)

[2017-03-14 03:40] bannanc commented on #222
Sorry, I should have been more clear here.

"type" was the wrong word. I think we should check if a SMARTS pattern matches any atoms in the set. This is different from assigning a type each atom in the set.

This could be good, thought it will require a more complicated code solution I think.

In existing methods we have two ways of checking smarts matching:

1. the atomtyper method `AtomTyper.ass

[2017-03-14 03:44] bannanc commented on #223
@davidlmobley

That might be a good idea, it turns out smirky will run fine with flat molecules.

The error causing it to crash was the smiles either way. However, SMIRKS searching complains about a lack of stereochemistry, I think because there are SMIRKS patterns (not that we're using) that search for specific stereochemistry. All the complaints were making the slurmError files hard to read.

[2017-03-14 03:45] bannanc commented on #223
@davidlmobley

Yes this is fixed now, the other SMILES strings were not isomeric.

[2017-03-14 03:46] bannanc commented on #222
@camizanette

Let me know if you need me to point to specific code snippets

[2017-03-14 12:55] davidlmobley commented on #223
@bannanc - can you create issues relating to checking for 3D coordinates? It seems like it would be relevant here, but also in the undergrads' `forcefieldcompare` project.

[2017-03-14 14:31] jchodera commented on #222
Shouldn't "electron withdrawing group" be a decorator, rather than a base type?

[2017-03-14 20:34] bannanc commented on #222
@jchodera

Currently SMARTY essentially have two options, add a decorator to the current atomtype or bind it to a new alpha or beta substituent atom. I suppose we could treat "singly bound to an electron group" as a decorator... In that case the decorator would have to be `$(*-$ewg)`.

@davidlmobley and @camizanette what are your thoughts here.

I will admit that every time these issues come up it

[2017-03-14 20:37] bannanc commented on #223
@davidlmobley
I can create an issue here.
The undergrad project fixed this by creating a new 3D structure when they generate the tripos mol2 files. Their scripts include an option of starting from a list of SMILES strings so that project is taken care of.

[2017-03-14 20:38] bannanc commented on #223
Pull request #224 fixed the issue talked about here so I'm going to close this.

[2017-03-14 20:38] #223 closed

[2017-03-14 20:47] bannanc opened #225 "Discussing the importance of 3D structure and stereochemistry"
In issue #223 I introduced concerns about lacking 3-dimensional structures. The actual issue is that when you do a SMARTS or SMIRKS search on molecules without specified stereochemistry it complains with a warning (not an error) such as the one shown below.

[code]

It seems to be an issue with ambiguous stereochemistry and not just 3D coordinates. Although if it has 3D coordinates shouldn't that

[2017-03-14 21:01] davidlmobley commented on #222
@bannanc - I don't have a strong preference one way or the other, though it seems simpler to me to just think of it as a base type here.

I agree that it would be easier to use the Chemical Environment objects, but since `smarty` is close to dying anyway (that is to say, it only exists til we finish this paper then everything moves in the direction of `smirky`) so it seems unnecessary to me. SMIRK

[2017-03-14 21:07] davidlmobley commented on #225
If you have 3D coordinates, you also have the stereochemistry. So, it's sufficient to just check that the coordinates are 3D (at least within the OpenEye tools, this means you have everything you need...).

I'm not aware of specific "tools" where this is a problem, but, as I see it, it's a workflow issue -- if you put together a workflow that generates a molecule from some source, then tries to as

[2017-03-14 21:12] bannanc commented on #222
That's my feeling.

I'm also concerned that treating "bonded to a..." as a decorator will require making more changes inside the smarty string manipulations so I would lean more toward treating it as a base type instead.

[2017-03-14 21:16] davidlmobley commented on #222
Yes, totally agree. The string manipulations here are not easy (especially handling of alpha and beta substituents) and I worry this would send of us off into regex hell.

[2017-03-15 17:05] bannanc opened #226 "More problems with MiniDrugBank: repeat molecules and generic parameters"
Due to the way I was creating the MiniDrugBank mol2 files, they were accidentally appended to during the last fix, meaning there are multiple copies of the same molecule in each file. I'm going to fix the relevant ipython notebook and submit a pull request with the fixed mol2 files. (Then restart the smirky jobs I'm running)

Also, thanks to a comment David made this morning I am checking for gene

[2017-03-15 17:05] bannanc commented on #226
Heads up @davidlmobley

[2017-03-15 17:20] davidlmobley commented on #226
I did see this. Thanks for catching/fixing. Keep me posted on which have generic parameters; could be I can help with quick fixes (I've done quite a bit of archaeology on the smirnoff source files before).

[2017-03-15 19:07] bannanc commented on #216
This issue is related to #226 but I thought enumerating the generic parameters here made more sense since #226 is about the molecule set and this issue is about smirff99Frosst

I apologize for the length, but I'm yet to find a concise way of writing out my thoughts on missing parameters.

Based on the current MiniDrugBank set, the following types of fragments are still assigned generic parameters

[2017-03-15 19:09] bannanc commented on #226
@davidlmobley I added the missing bonds, angles, and torsions to issue #216 since that was about smirff99Frosst instead of being about the molecule set, I think some of these parameters should definitely be in smirff, but there is also some WEIRD chemistry. I can start trying to tackle these and open a new pull request.

First I'm going to remove the repeated molecules from MiniDrugBank, since tha

[2017-03-15 19:44] bannanc commented on #222
@camizanette The other thing to think about here is we also add basetypes to the initial types so we might want to think about how that is done. Specifically, I think if we're going to put basetypes into the initial types list they need to go in at the beginning and not the end so they can be overwritten by user specified initial types. I don't think this is something we thought about before with

[2017-03-15 21:30] davidlmobley commented on #226
Thanks, @bannanc . I have #216 up but may run out of time (before my next meeting) before I can thoroughly digest.

[2017-03-15 21:36] davidlmobley opened #228 "Fix travis tests/builds failing due to timeout"
Nightly builds and our most recent PR are failing because of issues like this on Travis: https://travis-ci.org/open-forcefield-group/smarty/jobs/211486127

It gets to a message listing a big block of packages to be installed then has something like this:
[code]
I've seen this several times recently. It's unclear to me if Travis-CI just adjusted its timeout settings (so we just need to adjust our s

[2017-03-15 22:36] bannanc opened #229 "Main README is outdated with smarty changes"
I updated the README's in the example directory, but forgot to update the README in the main repository, so it does not reflect the most recent changes to smarty.

[2017-03-16 00:05] bannanc commented on #216
I'm going to try to list my proposed changes for each parameter type here. It should be noted that these are the ones I thought of as "easy" to fix. Anything that is missing in the parm@Frosst world are being made into their own issues in smirff99Frosst.

**BONDS**
- [x] Change `[#16X3+0,#16X4]` to `[#16X3,#16X4]`
    * These are in smirff99Frosst but with more decorators than what was in parm@fro

[2017-03-16 00:21] davidlmobley commented on #216
Is this the full list, or something you're updating as you go?

[2017-03-16 00:27] bannanc commented on #216
That is the list of Bonds and Angles, I'm still working on Torsions. Does it make more sense for me to just start a WIP pull request with everything?

[2017-03-16 00:30] davidlmobley commented on #216
You can update the list above of proposed changes as you go, I think, and also resolve via a PR. You can open the pr whenever it makes sense to do so; I don't see a major reason to prefer opening it now or later, whichever makes the most sense in your workflow.

[2017-03-16 01:52] bannanc commented on #229
updated with pull request #230

[2017-03-16 01:52] #229 closed

[2017-03-16 19:26] bannanc commented on #215
This was fixed a while ago and the most recent version also has the correct atomtypes.

[2017-03-16 19:26] #215 closed

[2017-03-16 19:36] bannanc commented on #226
Closed by #231

[2017-03-16 19:36] #226 closed

[2017-03-16 21:26] bannanc opened #233 "Convert_frcmod.py should take dates and authors from the smirffishFrcmod file"
@davidlmobley and I recently ran into an issue where I had made changes to smirff99Frosst and submitted a pull request without changing the date. I'm going to update the smirff9ish file and convert_frcmod.py to allow a user to specify the date and author list in the smirffishFrcmod file instead.

I'll include this in pull request #232 (unless someone wants the new code submitted separately)

[2017-03-16 23:30] bannanc commented on #222
Checking if a SMARTS pattern is in a molecule. I realized the section in SMIRKY uses a few things that don't necessarily need to be transferred, so here is the method I would suggest adding:

[code]
Then in the section where we check if a basetype matches the molecules you could call this instead.
Note - self.replacements in the smarty input are stored in a list of tuples (SMARTS, shortname), but

[2017-03-16 23:59] davidlmobley commented on #233
Sounds good. Probably the date should automatically default to the date the script is run unless the user overrides, since the main reason to run it would be to compose a new version.

[2017-03-17 00:07] bannanc commented on #222
@camizanette That ^ is what I would do

[2017-03-17 00:30] bannanc commented on #233
This sounds more complicated... Also if anyone checks things with the parameter_usage notebook it runs the convert script. I think its fine for it to be user specified, but having EVERYTHING that can be hand tweaked in one file will make this easier (or at least harder to forget to change the date).

[2017-03-17 01:03] camizanette commented on #222
Thanks, @bannanc

[2017-03-17 04:13] davidlmobley commented on #233
OK, sounds good, @bannanc .

[2017-03-17 20:20] davidlmobley opened #235 "Migrate to new charging engine"
The February OpenEye toolkit release introduces `OEAssignCharges` and `OEAssignPartialCharges` is basically deprecated (see https://docs.eyesopen.com/toolkits/python/quacpactk/OEProtonFunctions/OEAssignCharges.html#OEProton::OEAssignCharges) so we should migrate at some point.

[2017-03-17 21:02] jchodera commented on #235
How is this used in the "current best practices" manner?

[2017-03-17 23:53] davidlmobley commented on #235
@jchodera - I think it's a drop-in-replacement for the old one, but it's possible @cbayly13 has built some of his conformer stuff into it so that we can remove some of the machinery we had to use with the old one. I have this on the list to bring up in my next call with him but have not yet discussed it with him.

[2017-03-20 16:52] bannanc commented on #222
Please see discussion in pull request #234 for more details about why this is a problem and how to fix it.

@camizanette I updated the code snippet method above with how to use the replacements list.

[2017-03-21 03:43] bannanc opened #236 "Issue with SMIRKY and typing molecules"
I'm getting the following error when running SMIRKY on MiniDrugBank on Bonds:

[code]

This is confusing on two fronts
1. I chose molecules based on how smirff99Frosst types the molecules.
2. smirff99Frosst has completely generic Bond parameters so it should never fail this part.

The part of the code raising an error uses all indices that are typed by a generic bond `[*:1]~[*:2]` (or whatever par

[2017-03-21 03:45] bannanc commented on #228
@davidlmobley is there something I can do to get this fixed sooner rather than later? It would be good to get this fixed before pull request #234 is ready for final review.

[2017-03-21 03:48] jchodera commented on #228
I just fixed this in #182

[2017-03-21 03:49] jchodera commented on #228
The issue is discussed here: https://github.com/omnia-md/conda-recipes/pull/739 https://github.com/conda/conda-build/issues/1825

[2017-03-21 03:51] jchodera commented on #228
Here's the current workaround for future reference: https://github.com/open-forcefield-group/smarty/pull/182/commits/46d7c8314c3f1f31f26b8f85d24e7e85a2d054e3

[2017-03-21 19:56] davidlmobley commented on #228
I just merged #182 so I'm marking this as closed. Thanks, @jchodera .

[2017-03-21 19:56] #228 closed

[2017-03-21 20:24] bannanc commented on #236
I think I've found the problem:

For references and the current list of parameters, I store a dictionary with the form:
`parameterID = typed_molecules[ SMILES ][ (Index tuple) ] `

SMIRKY also has an `IndexDictionary` that is in the same form, but has all `(Index tuple)`s that match the generic parameter (i.e. `[*:1]~[*:2]` for a bond).

When checking if a typelist types all molecules I create the

[2017-03-21 20:35] bannanc commented on #236
If I comment out [lines 301-302](https://github.com/open-forcefield-group/smarty/blob/master/smarty/sampler_smirky.py#L301) in sampler_smirky.py everything runs just fine.

I'm going to rewrite the reference check to not use the `check_typed_molecules` method which was written with the "current types" in mind. I'll get a pull request in soon.

[2017-03-21 20:39] davidlmobley commented on #236
@bannanc :

Yes, it should be that anything which gets no parameter (NOT something which get generic parameters, though) fails...

Glad you found the problem!!

[2017-03-21 20:44] bannanc commented on #236
@davidlmobley

That's what I thought, I'm adding a slightly different check just incase, I'm testing it now, I'll have a pull request in soon.

[2017-03-21 21:37] bannanc opened #238 "Smirky replaces initial VdW types with generic"
I'm running into a weird issue in the most recent tests with smirky on VdW parameters.
I noticed while I was testing for pull request #237

For example, my initial VdW file has the following:
[code]
When the initial types are processed they all print as generic VdWs:

[code]
This doesn't happen with Bonds, Angles, or Torsions. I am just now looking into this issue.
It doesn't look like it happened

[2017-03-21 21:41] bannanc commented on #238
Well this is my fault, the initial types are missing the `#` sign in front of the numbers so when they're read into the ChemicalEnvironments It doesn't catch them atomic numbers.

[2017-03-21 21:41] #238 closed

[2017-03-23 14:55] ramess101 commented on #220
The united-atom types have historically been assigned with chemical intuition. For example, distinguishing between CH3, CH2, CH2=, CH, CH=, etc. UA types make sense based on the notion of group contributions and what makes two groups different. Although I am not sure that learning the appropriate UA types is in the future plans it is certainly an interesting idea. For example, we could learn which

[2017-03-23 15:25] jchodera commented on #220
@bannanc's suggestions are a good starting point here!

We first have to decide, however, which of two potential representations we are going to use:
* **Option 1.** All atoms are explicitly defined (and used in SMIRKS matching), but fewer interaction sites (on atoms or virtual sites) are defined than the number of atoms in order to make things fast. However, we would still need some way of keepin

[2017-03-23 16:35] davidlmobley commented on #220
@jchodera - do you have any thoughts on the likely relative performance of the two approaches?

I agree that Option 2 is likely incompatible with a SMIRKS-based representation if we START with a reduced representation, though there could be an explicit reduction step. Probably this would require some sort of custom SMIRKS which would define groups of atoms to be replaced by an individual atom type

[2017-03-23 16:38] jchodera commented on #220
I don't think the performance of Option 1 will be very much degraded compared to Option 2, and it does have big advantages that make it easier to compute various properties directly from the simulations.

The main issue is that Option 1 requires more valence parameters than Option 2, though this might be mitigated if groups of atoms could be rigidly constrained.

[2017-03-23 17:03] davidlmobley commented on #220
OK, I'm still more inclined towards Option 1 then. It's an excellent point about the analysis -- this would make analysis via "standard tools" work well, whereas other approaches will require a mapping procedure before analysis can be done.

[2017-03-23 21:15] jchodera commented on #220
In that case, we're back to the question of how to tell SMIRNOFF to assign nonbonded types to real or virtual sites for a subset of atoms, and ignore the fact that some atoms won't have nonbonded types.

There are several options on the table (slightly modified from @bannanc's suggestions):
* **Option A:**  Explicitly match atoms that are subsumed into parent atoms, and assign `null` parameters. F

[2017-03-24 17:29] bannanc commented on #220
Sorry I didn't respond to this sooner.

I've been thinking about how we might want to use these in the long run.
I'm assuming that eventually we might want to learn which atoms are grouped
together. One way of checking learned types is that all atoms are labeled.
So everything in your system should have a non bonding force assigned to
it.

That was the thought process that initially led to my two

[2017-03-24 19:10] davidlmobley commented on #100
Closed, at least temporarily, by #239 , which implements much but not all of this.

[2017-03-24 19:10] #100 closed

[2017-03-24 19:11] davidlmobley commented on #175
@jchodera - now that #239 is merged you should be able to proceed with this.

[2017-03-24 23:38] davidlmobley opened #240 "Turn on zenodo for this repo"
I seem not to have turned on Zenodo for this repo yet and updated the README.md with the associated DOIs; will need to do so.

[2017-03-24 23:39] davidlmobley commented on #235
See https://github.com/choderalab/openmoltools/issues/252 -- we need to NOT do this for now as there is no partial bond order access in the new charging engine; marking as "wontfix" for now.

[2017-03-25 16:58] jchodera commented on #175
Unless there are objections, the new repository will be called https://github.com/open-forcefield-group/smirnoff

[2017-03-25 17:34] jchodera commented on #240
Seems to be working now!
[![DOI](https://zenodo.org/badge/60921138.svg)](https://zenodo.org/badge/latestdoi/60921138)

[2017-03-25 17:40] jchodera commented on #240
I've added a Zenodo DOI badge in #242

[2017-03-25 17:40] #240 closed

[2017-03-25 17:48] jchodera opened #243 "Clean up branches"
We currently have 26 open branches:

https://github.com/open-forcefield-group/smarty/branches

Might be good to clean up some stale ones.

[2017-03-25 18:14] davidlmobley commented on #175
Excellent, @jchodera !

I'm mostly offline today but will try and scroll through my mass of github notifications really quickly to see if there is anything urgent.

[2017-03-25 23:29] jchodera commented on #220
Since "labeling" atoms that are subsumed into a single interaction site isn't something that would appear in a `System` object, I'm not quite sure what you mean by labeling other than an internal bookkeeping device to figure out when to raise an error if some atoms were accidentally omitted in defining interaction groups. Is it just a bookkeeping device? If so, I think we're on the same page.

Opt

[2017-03-26 02:25] bannanc commented on #220
Yes, I think we're on the same page here @jchodera

Thanks for clarifying with B/C I still don't have a preference for which one of those makes more sense. @davidlmobley do you?

[2017-03-26 13:45] jchodera commented on #175
I'm trying to see if there's a way to preserve commit history during the migration. Stay tuned!

[2017-03-26 17:38] jchodera commented on #220
I guess the biggest question is whether we want to extend NonbondedForce to allow additionally tagged atoms (2, 3, 4...) to be "subsumed" into a single interaction site, or whether we want to create a whole new tag and generator for this. I can see advantages to simply extending NonbondedForce if it doesn't break current functionality, since otherwise we need to engineer communication between diff

[2017-03-26 21:54] jchodera commented on #193
This has happened complete in the new repo: http://github.com/open-forcefield-group/smirnoff

[2017-03-26 21:54] #193 closed

[2017-03-26 21:56] jchodera opened #244 "Remove SMIRFF/SMIRNOFF and ChemicalEnvironment remnants from this repo"
We've now migrated the SMIRNOFF forcefield to a new repo:

http://github.com/open-forcefield-group/smirnoff

I was able to preserve commit history on all files that made the transition, though renaming `smarty` to `smirnoff` makes it harder to view this history in github.

Once that is stable, we should remove SMIRNOFF from this repo.

[2017-03-27 16:04] davidlmobley commented on #244
Excellent, thanks, @jchodera !!

[2017-03-27 19:33] jchodera commented on #244
Let's hold on this until I update the new repo according to our slack discussion.

[2017-03-28 20:53] bannanc commented on #220
Assuming it doesn't break current uses it seems like it makes more sense to extend the NonbondedForce. This seems more logical to me than having multiple generators that create specify non-bonding interactions. Could we define subtypes similar to the proper and improper options for torsions.

[2017-03-31 23:16] bannanc opened #245 "Depicting molecules in python3"
@davidlmobley found an issue yesterday in our scripts used to depict 2D molecules all done in jupyter notebook.

Old version used the following lines to return an image:
[code]

The new version should do this instead (to be python3 compatible)
[code]

Here are some of the locations where this type of code is used:

[smarty/utilities/convert_frosst/parameter_usage.ipynb](https://github.com/open-for

[2017-04-02 01:42] jchodera commented on #244
I have completed the bulk of the reorganization in https://github.com/open-forcefield-group/openforcefield. Please go there and comment/contribute PRs!

[2017-04-05 22:19] bannanc commented on #245
I included this with pull request #232

[2017-04-05 22:20] bannanc commented on #236
This was fixed a while ago.

[2017-04-05 22:20] #236 closed

[2017-04-05 22:20] bannanc commented on #233
Included in pull request #232

[2017-04-05 22:20] #233 closed

[2017-04-05 22:20] bannanc commented on #222
Closed with #234

[2017-04-05 22:20] #222 closed

[2017-04-05 22:21] bannanc commented on #216
Should be closed by #232

[2017-04-05 22:21] #216 closed

[2017-04-06 20:39] #245 closed

[2017-04-06 20:48] bannanc commented on #219
@davidlmobley Did you cover this? I think it was included in pull request #239 ?

[2017-04-06 20:50] bannanc commented on #139
I have Boron included in issues on smirnoff99Frosst I don't think it should be covered in smarty anymore.

[2017-04-06 20:50] #139 closed

[2017-04-06 20:52] bannanc commented on #221
@ramess101 This probably should be added to issue #161

[2017-04-06 21:04] davidlmobley commented on #219
Looks like no: https://github.com/open-forcefield-group/smarty/blob/3dfce4f789e1f1eecb4fd59f4f08bcdb014a69c6/.travis.yml#L24

[2017-04-07 17:25] bannanc opened #248 "Chemical Environments handling replacement strings incorrectly"
I'm not sure why this hasn't come up before.
I opened the error output from one of my recent SMIRKY simulations and found a number of the following warnings:
[code]
I know this is a complex looking smirks pattern, specifically the warning is pointing at the `&` in the first atom `[$([$([#9,#17]),$([#35,#53])])&;!X4:1]`. The sort of crazy looking `$([$([#9,#17]),$([#35,#53])])` corresponds to the r

[2017-04-07 18:31] davidlmobley commented on #248
Probably we weren't using the $ewg macro until recently so we didn't run into this...?

Thanks, @bannanc .

[2017-04-12 21:25] bannanc commented on #248
We were always using $ewg1 and $ewg2 in smirky. I think what causes this problem is a case where an ORdecorator is set as `""` which is used to indicate no decorator. I thought the Chemical Environments were handling that case correctly (that is removing blank decorators), but I guess not.

In testing this, I've run into a few other cases that they don't quite handle the way I would like.
Right no

[2017-04-13 19:13] jchodera commented on #244
We have now completed the migration to http://github.com/open-forcefield-group/openforcefield, so should remove SMIRNOFF and ChemicalEnvironment from this repo.

[2017-04-13 22:44] davidlmobley commented on #244
Agreed. Just haven't had the time to do anything about it - still catching up after last week.

[2017-04-13 22:56] davidlmobley commented on #248
@bannanc - I'm not sure if I totally understand this part:

(and the example which follows). You haven't explained in your example what `r` is there - is that just explaining what $ewg represents?

If I understand right, you're asking whether I agree that the way of parsing as illustrated in the first box of your comment is what we would expect/want the behavior to be? I agree that the first box m

[2017-04-14 01:08] bannanc commented on #248
@davidlmobley
I didn't put a comment describing `r` because I thought it would be obvious from the environment call that the r is a list of replacements/substitutions.

Doing this as a separate option doesn't actually make much sense to me, and would make the internal code on environment much more complicated I think.  The get function `getORtypes` is just a getter (Christopher's request). It retu

[2017-04-14 02:04] jchodera commented on #161
@ramess101 suggests in https://github.com/open-forcefield-group/smarty/issues/221
* the [generalized Lennard-Jones (m-n) potential](http://dx.doi.org/10.1023/A:1024798909685)
* the [Buckingham exp-6 potential](https://en.wikipedia.org/wiki/Buckingham_potential)

[2017-04-14 02:06] jchodera commented on #145
@bmanubay : Has the [SMIRNOFF spec](https://github.com/open-forcefield-group/openforcefield/blob/master/The-SMIRNOFF-force-field-format.md) covered your request, or did you want something else, like the ability to select different functional forms in the XML tags?

[2017-04-14 02:15] jchodera commented on #220
@davidlmobley Any more thoughts on this? I think we're leaning toward extending the `NonbondedForce` spec to allow multiple atoms to be subsumed into a single interaction site.

For example, to create united-atom methyls and methylenes, we would go from
[code]
to
[code]
where the labeled atoms numbered greater than 1 in the `<Atom/>` elements in the `<NonbondedForce/>` element get subsumed into th

[2017-04-14 03:44] davidlmobley commented on #248
@bannanc :

OK, this makes sense to me. We don't want that, so we should just proceed without separating it out.

THis sounds good. Thanks.

[2017-04-14 03:54] davidlmobley commented on #220
Yes, @jchodera - I didn't have further thoughts on this because I like the plan.

[2017-04-14 03:56] davidlmobley commented on #220
I also like the idea of having `type="united"` or `united=True` (slight preference for the latter) to avoid accidental mistakes. I think it will also make more clear that someone didn't just accidentally take, say, an angle SMIRKS pattern and drop it into the nonbonded section.

BUT - does this create any complications for the other sections, such as bonds and angles?

[2017-04-14 03:58] davidlmobley commented on #165
Resolved by #182 .

[2017-04-14 03:58] #165 closed

[2017-04-14 03:59] davidlmobley commented on #132
@jchodera - what do you think about trying to get this one polished off as well? This is not a major change to the format, but will allow a lot of new science.

[2017-04-14 03:59] jchodera commented on #220
We still need to solidify the spec changes.
* Are you happy with the above proposal? We'll have to overhaul the parameter assignment and type checking code if so. The parameter assignment part might be more complex because we have to make sure that an atom doesn't get typed if it is covered by a more specific chemical environment that includes it as a tagged atom.
* Do we want to use this time to

[2017-04-14 04:06] davidlmobley commented on #220
I'm happy with the above proposed spec, but I haven't had time to think through the broader implications for what would have to change in the code, nor do I understand what this would mean for bonds, angles, and torsions, and how we would manage "virtual bonds, angles, and torsions", or if we even need such things. It seems to me we need input from people who use these types of force fields ( @ram

[2017-04-14 04:07] davidlmobley commented on #225
@bannanc - did that answer your question? Was there a specific problem we need to solve? Perhaps we should be updating the code to check for 3D coordinates before proceeding?

[2017-04-14 04:11] jchodera commented on #132
I agree this should be a priority. Since it will require new virtual site types to be added to OpenMM, we should try to get those in before OpenMM 7.2 is cut.

Is the proposal from https://github.com/open-forcefield-group/smarty/issues/132#issuecomment-252050844 the one we want to stick with?
[code]
And are there any cases where we would want vdW sites (or other functional forms) at these location

[2017-04-14 04:32] davidlmobley commented on #132
That proposal (https://github.com/open-forcefield-group/smarty/issues/132#issuecomment-252050844) is still the one we want, yes. ( @bannanc , any final thoughts?)

The only thing we currently have in mind is point charges for use with standard `NonbondedForce` at these sites. We are not thinking to place vdW sites at any of these locations. It's difficult to predict all the things one might ever w

[2017-04-14 19:05] bmanubay commented on #145
@jchodera : This is great for now; thanks John! Functional form selection is beyond the scope of what I'm working on currently. Might just be better to cross that bridge when we come to it farther down the line. :)

[2017-04-14 19:05] #145 closed

[2017-04-14 19:22] bannanc commented on #225
@davidlmobley
Yes, that answers my question, I think having the forcefield tools check for 3D coordinates seems the best option. SMIRKY uses the same tools so it would fail if there are no 3D coordinates.

[2017-04-14 19:29] bannanc commented on #132
@davidlmobley I don't have anything to add.

I missed the discussion around carbonyls last fall (probably because of oral's prep), but Christopher's explanation and general shape/overlap of sp2 orbitals makes sense for the lone pairs to be in the same plane.

[2017-04-17 13:27] jchodera commented on #132
OK, I'll work on translating these into OpenMM feature requests.

[2017-04-20 00:54] davidlmobley commented on #220
OK, I've thought through this a bit more, @jchodera , and, to respond to your [comment](https://github.com/open-forcefield-group/smarty/issues/220#issuecomment-294080385):

I'm happy with it. I do have questions though - for example I'm not understanding how this would interplay with the assignment of the other parameters (bonds, angles, torsions); I'm thinking we would still assign these paramete

[2017-04-20 03:20] ramess101 commented on #220
Sorry for not seeing this earlier.

The general approach for united-atom models is to utilize the same bond, angle, and torsional potentials as the all-atom cases but only for the heavy atoms. In other words, for a molecule like n-butane that is represented as CH3-CH2-CH2-CH3 we would use the same C-C bond lengths (and harmonic force constants) as the all-atom C-C bonds and the same for the C-C-C

[2017-04-21 16:30] davidlmobley commented on #220
Thanks, @ramess101 . So, @jchodera - I think we agree on the path forward for now.

[2017-04-28 19:19] bannanc commented on #248
This is all handled in openforcefield [PR #7](https://github.com/open-forcefield-group/openforcefield/pull/7)

When issue #244 is addressed this issue will also be closed.

[2017-04-28 19:24] bannanc commented on #244
I have this working on my local machine. I'm working on changing the travis settings so the tests on github will work.
See pull request #250

[2017-04-28 19:50] davidlmobley commented on #244
Thanks, @bannanc .

[2017-04-28 20:38] jchodera commented on #132
Noting here for posterity that we will need to extend this spec to handle multi-site water models like TIPnP.

[2017-05-09 18:58] bannanc opened #251 "Potential speed up for smirky by removing chemical environment tracking"
I will start by saying I'm not sure if this is worth it at this point in the project, but this is definitely worth thinking about in the long run.

Right now, smirky keeps a list of chemical environments for the parameter it is sampling. It occurred to me yesterday that this is probably fairly memory intensive and unnecessary since it is easy to go from SMIRKS to `ChemicalEnvironments` and back to

[2017-05-09 19:29] davidlmobley commented on #251
Is there anything quick you can do to test how much this would affect speed? Naively it seems like it would not be worth it at this point for SMIRKY for the paper, but will be helpful down the line. But I guess that depends on how much additional simulation you still need to do and how much the speed difference is.

[2017-05-09 22:02] bannanc commented on #251
The fastest test I can foresee doing is making two simple scripts that store lists for many steps where the list is either SMIRKS strings or chemical environments. Then see if there is a substantial time difference. I'm not sure this is worth the effort now, but it seems like we could potentially be doing A LOT more smirky simulations unless we find why smarty isn't getting 100%

[2017-05-10 16:36] davidlmobley commented on #251
@bannanc - I think it's worth trying to test the speed difference if you can do it without a huge investment of time.

[2017-05-18 20:55] bannanc opened #252 "isinstance for file doesn't work in python3"
I tried running smirky on my desktop for the first time today since switching to python3.5.

I get this error when calling smirky:
[code]

The utils function to parse_odds_file is allowed to take a string or a file object.

If I run the tests they work, they all pass. The smirky sampler tests do use the parse_odds_file function.  However, if I interactively load the smarty utils function and try

[2017-05-18 21:45] davidlmobley commented on #252
@bannanc : superficially it looks like the code you're looking at is just related to printing of debug information:
[code]
and the tests run with `verbose = False` so this is skipped.

[2017-05-18 21:54] bannanc commented on #252
Oh, thank you @davidlmobley I should have seen that!

I think we should change two things
1. I don't think the extra if verbose section that the top is necessary
2. Even so, we should probably be running at least 1 test with verbose = True just in case there are other places where this sort of thing comes up.

[2017-05-18 21:55] davidlmobley commented on #252
SGTM.

[2017-05-18 22:35] bannanc opened #253 "SMIRKY scoring problem caused by repeat molecules"
Last week I noticed a problem with scoring smirky simulations on MiniDrugBank.

For example, in MiniDrugBank there are 363 molecules with 15,564 atoms
If I type with smirnoff99Frosst, there are 3,354 atoms that match n15 (`[*:1]`).

Here are the scores for the first iteration of a MiniDrugBank simulation with

[code]

Some key things to notice:
* 355 Molecules that are matched with `[*:1]` which s

[2017-05-18 22:38] bannanc commented on #253
heads up @davidlmobley and @camizanette

[2017-05-19 21:52] davidlmobley commented on #253
Seems like we (ugh) want MiniDrugBank not to have repeating molecules, @bannanc . I hate to have to change it again at this stage, but it's probably not a huge loss (unless I'm missing something) since none of our data is final yet...

Relating to this:

Remind me what the key is now??

[2017-05-19 22:12] jchodera commented on #253
This is only tangentially related, but MiniDrugBank seems so useful on its own that I wonder if it makes sense for it to graduate to its own versioned repo!

[2017-05-19 23:40] bannanc commented on #253
@jchodera I like this idea. It could be particularly useful if we want to remake MiniDrugBank when we make changes to smirnoff99Frosst since I haven't rebuilt it since the last time we updated the force field.

@davidlmobley It since you can't label OEMolecules with data on more than one atom, smirky uses a dictionary with the form:
`{ moleculeSMILES: { (tuple of indices): 'pid/typename'... } ...

[2017-05-19 23:48] davidlmobley commented on #253
@bannanc -- John's point on MiniDrugBank is actually a good one. Probably worth having when you have spare time. That way we can get it a DOI, etc. It could effectively serve as a "minipublication" -- I can advertise on Twitter, etc., once you have a suitable README.md in place, and we can get a DOI via Zenodo.

[2017-05-19 23:48] davidlmobley commented on #253
(I can also post on eScholarship which is indexed by Google Scholar).

[2017-05-19 23:53] bannanc commented on #253
@davidlmobley I can migrate it next week a couple of questions

1. Should I also move the filter script/ipynb (thats the only thing we have officially used it for so far).

2. Where should I put it MobleyGroup or open-forcefield-group?

[2017-05-20 00:07] jchodera commented on #253
I'd move the filter scripts as well and set up integration testing. Tag us if you need help with the devtools stuff.

If you use releases + Zenodo, we can change the SMIRNOFF testing to pull down a specific version of MiniDrugBank just before testing.

[2017-05-20 00:07] jchodera commented on #253
I can see a lot of other projects getting mileage out of MiniDrugBank too!

[2017-05-24 21:57] bannanc commented on #253
Ok, so we're making the MiniDrugBank repo and removing duplicates there.

However, we didn't actually establish how to fix SMIRKY, I see two ways forward:

1. Check for repeating molecules inside smirky, then remove them.
2. Change dictionary keys to something besides SMILES strings (this would require substantially more work)

@davidlmobley and I discussed on slack and agree that the best solutio

[2017-05-24 23:42] bannanc commented on #251
I forgot to add my notes here. Below I have data for a list where I sometimes added a new object. The first column is with storing smirks strings the second is for storing chemical environments the last is the difference in minutes (that is string column - environment column).
generic I started the simulation with only a generic torsion initially, short starts with 10 torsions and long starts with

[2017-05-24 23:49] bannanc commented on #251
I have the jupyter notebook I used in my person documents on google drive, but I can put it somewhere public or in the utilities here if we want.

[2017-05-25 19:58] davidlmobley commented on #251
Thanks for checking this, @bannanc . I think for the record you want to share your notebook so that when someone revisits this, they can pick up from where you left off from this info.

[2017-05-25 20:44] bannanc commented on #251
@davidlmobley should I just put that notebook in utilities here?

[2017-05-25 20:51] davidlmobley commented on #251
Sounds good.

[2017-05-25 22:09] bannanc commented on #252
in PR #254

[2017-05-25 22:25] bannanc commented on #244
This was fixed in [openforcefield PR#7](https://github.com/open-forcefield-group/openforcefield/pull/7)

[2017-05-25 22:25] #244 closed

[2017-05-25 22:25] bannanc commented on #248
Fixed in [openforcefield PR #7](https://github.com/open-forcefield-group/openforcefield/pull/7)

[2017-05-25 22:25] #248 closed

[2017-05-25 22:27] bannanc commented on #96
Addressing in [openforcefield PR](https://github.com/open-forcefield-group/openforcefield/pull/7)

[2017-05-25 22:27] #96 closed

[2017-05-25 22:28] bannanc commented on #46
I have some examples from this that I should put in utilities so other people can use it. I'll add cleaning up this notebook to my to do list and add it here.

[2017-05-25 23:06] jchodera commented on #46
The conda-installable `networkx` package can make [circular tree plots](https://networkx.github.io/documentation/networkx-1.9/examples/drawing/circular_tree.html), though I also came across a really nice example for making [circular trees with d3.js using Python](https://stackoverflow.com/questions/22726969/how-to-generate-d3-js-circular-dendrogram-code-from-python).

[2017-05-26 00:30] bannanc commented on #46
That is nice too, I used ete2 (linked above) to make the color coded circular plot David had in his ACS talk

[2017-06-02 01:15] bannanc commented on #225
Did we find a way to check for 3D coordinates with openeye? I was google searching for a way to do it and this was about the 4th result.

[2017-06-02 04:09] davidlmobley commented on #225
Yes. `mol.GetDimension()`, it seems. https://mobleylab.slack.com/archives/C1BRXPQ2V/p1487868126000045
https://docs.eyesopen.com/toolkits/python/oechemtk/OEChemClasses/OEMolBase.html

[2017-06-05 17:56] bannanc commented on #253
This was fixed by PR #254

[2017-06-05 17:56] #253 closed

[2017-06-05 17:56] #252 closed

[2017-06-05 18:00] bannanc opened #255 "Remove `The-SMIRFF-force-field-format.md`"
[`The-SMIRFF-force-field-format.md`](https://github.com/open-forcefield-group/smarty/blob/master/The-SMIRFF-force-field-format.md) is still in this repository. The updated version for SMIRNOFF is in openforcefield so I think we should remove the duplicate file.

[2017-06-05 18:59] davidlmobley commented on #255
Yes, please.

[2017-10-10 20:53] bannanc commented on #255
I did this in my last PR, closing.

[2017-10-10 20:53] #255 closed

[2017-11-08 20:53] bannanc commented on #140
We've done a lot of updating to odds on input files in SMIRKY for the paper. However, I was thinking about something for future move proposal engines this week.

It would be ideal if odds could be based on training molecules or learned without needing the human intuition input. Something I was imagining was using substructure searches to pick these numbers, as in how many single, double, aromatic

[2018-01-06 00:58] bannanc opened #261 "Improving efficiency of code in smirky - for future move proposal tools"
I wanted to get an issue started for this that can be used for documentation. I continue to believe that it isn't worth investing significant time into speeding up SMIRKY now, but certain functions from this code will likely carry over to future move proposal engines.

This issue will focus on places that the code can be more efficient, not making "smarter" chemical moves, though that is also goin

[2018-01-06 05:02] davidlmobley commented on #261
FTR, what does that part do and why does it scale that way?

[2018-01-06 05:03] davidlmobley commented on #261
(Aside from "getting typed molecules", I mean. Is this the part which types the molecules? And what's N? The number of molecules or the number of types?)

[2018-01-06 17:21] bannanc commented on #261
I think the N in this case is referring to molecules, so the exact scaling will change with number of molecules and number of types which is likely why torsions are so much slower, there are many more torsions/molecule than other parameters.

This is typing the molecules with the current list of smirks patterns. Daniel seemed to have some ideas that would speed it up.

[2018-01-06 19:15] bannanc opened #262 "Pin openforcefield version"
When the new openforcefield version gets updated, it will break smirky, I suggest we just pin the version in our conda install for this version.

[2018-01-06 21:51] davidlmobley commented on #262
Agreed, yes.

[2018-01-12 21:54] bannanc opened #263 "Transition issues to openforcefield repo?"
Every time I look at this issue tracker I think about writing this question and then forget. We have a lot of issues still here that really belong to other repositories now. It seems like it would best to at least have an issue in those repositories that point to these discussions.

Do we then close the issue here with just a link to the discussion?

I'm happy to take on transitioning things if I

[2018-01-12 22:08] davidlmobley commented on #263
I think the way I would deal with it would be making sure there is a corresponding issue in the new repo for each issue here, with a brief summary of it and a link to the full discussion here.

[2018-01-12 22:09] bannanc commented on #263
That makes sense to me, it isn't a high priority, but I think it would be nice to have the issues here cleaned up before the smarty paper comes out.

[2018-01-24 21:07] bannanc commented on #243
I've done this for smarty, we now have three (master, mine, and Camila's). I'm going to close this issue.

[2018-01-24 21:07] #243 closed

[2018-01-24 21:08] bannanc commented on #243
I'm not migrating this issue, if the same thing needs to happen in other repos we can make that judgement call.

[2018-01-25 13:58] bannanc commented on #175
@jchodera @davidlmobley I think this can be closed since smarty/smirnoff99Frosst/openforcefield should all have their own versions now correct?

[2018-01-25 18:24] bannanc opened #264 "Add code coverage"
We learned how to do code coverage at MolSSI this week, it is really simple to set up assuming you're running tests with pytest. You just add a line to your travis.yml and go to codecov.io to add the repository and get the link for the badge.

I can look into the ways to do this with nosetests instead or convert our tests over to pytest.

[2018-01-25 18:36] davidlmobley commented on #264
I think converting to pytest and getting code coverage going makes a lot of sense, though is more important on`openforcefield` than here.

[2018-01-25 18:36] davidlmobley commented on #175
Yes. Thanks.

[2018-01-25 18:36] #175 closed

[2018-01-25 18:53] bannanc commented on #264
I think we have an issue on it for openforcefield too. I feel more comfortable using this one for testing the set up since there isn't active development happening.

[2018-03-01 04:18] davidlmobley commented on #219
Resolved on `openforcefield` recently; probably not necessarily to resolve here.

[2018-03-01 04:18] #219 closed

[2018-03-18 21:24] jchodera commented on #179
Addressed in https://github.com/openforcefield/openforcefield/pull/86

[2018-04-26 01:20] bannanc commented on #177
Given how many changes have been made to forcefield.py since this was written, I'm going to close this here, we should make a new issue on [openforcefield](https://github.com/openforcefield/openforcefield) if necessary.

[2018-04-26 01:28] bannanc commented on #261
Moved to [chemper issue#12](https://github.com/MobleyLab/chemper/issues/12)

[2018-04-26 01:28] #261 closed

[2018-04-26 01:31] bannanc commented on #140
In reality I have expanded this idea quite extensively. If you want to see what we're currently working on checkout [chemper](https://github.com/MobleyLab/chemper)

[2018-04-26 01:31] #140 closed

[2018-04-26 01:33] bannanc commented on #161
Moved to openforcefield

[2018-04-26 01:33] #161 closed

[2018-04-26 01:37] bannanc commented on #132
This has already been moved to [openforcefield issue#41](https://github.com/openforcefield/openforcefield/issues/41). I am going to close this one with the assumption this will be addressed in the openforcefield issue from this point forward.

[2018-04-26 01:37] #132 closed

[2018-05-10 04:04] bannanc opened #266 "Fix bottom of README"
The bottom of the main readme appears to be missing a "`" character